$primary-color: black;
$secondary-color: #1a8cd8;
$tertiary-color: #303236;
$primary-font: “Helvetica Neue”, Helvetica, Arial, sans-serif;
$secondary-font: serif;

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: #FFF;
    font-family: $primary-font;
    background-color: black;
}

.postex {
    font-family: serif;
}

.blue-x {
    color: $secondary-color;
}

nav {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    justify-content: space-between;

    a {
        color: #FFF;
        text-decoration: none;
        font-size: 1.2rem;

        &:hover {
            color: $secondary-color;
        }
    }

    span {
        font-size: 2.2rem;
        font-weight: 600;
        padding: 0 10px;

        p {
            position: relative;
            right: -75px;
        }
    }

    span.nav-links {
        display: flex;

        .nav-element {
            display: block;
            padding: 0 10px;
        }
    }

    span {
        cursor: pointer;

        p.postex {
            font-size: 2.5rem;

            span.blue-x {
                font-size: 2.5rem;
                padding: 0;
                margin: 0;
            }
        }
    }
}

#home {
    h1 {
        padding: 20px;
    }
}

#new-post {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .publish-element {
        outline: none;
        font-size: 1.2rem;
        border: 1px solid #FFF;
        padding: 5px 10px 8px;
        color: white;
        border: $tertiary-color;
        padding: 20px;
        width: 660px;
    }

    input.publish-element {
        background: $tertiary-color;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        justify-content: center;
    }

    button.publish-element {
        border-left: none;
        background-color: $secondary-color;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 160px;
        cursor: pointer;
        transition: .2s;

        &:active {
            color: #1a8cd8;
            background-color: #FFF;
        }
    }

    button.publish-element,
    input.publish-element {
        height: 90px;
        margin-bottom: 20px;
    }
}

#Posts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#Identificacao {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .conteudo {
        border: 2px solid $tertiary-color;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding: 40px 20px;
        width: 500px;
        height: fit-content;
        z-index: 3;
        position: absolute;
        background-color: $primary-color;

        .pretitle {
            font-size: 1.5em;
            font-weight: 600;
            margin: 0 0 10px 0;
        }

        form {
            .elemento {
                margin: 10px 0px;
            }

            input.form-element {
                background: $primary-color;
                width: 500px;
                border-radius: 10px;
                justify-content: center;
                width: 400px;
                border: 2px solid $tertiary-color;
                height: 50px;
                color: white;
                font-size: 1.2em;
                padding: 0 10px;
                margin: 8px 0 8px 0;
            }
        }

        .LoginBtn {
            display: block;
            position: relative;
            margin: 0 auto;
            margin-top: 20px;
            font-size: 1.2em;
            padding: 0 10px;
            width: 450px;
            height: 50px;
            cursor: pointer;
            border: 1px solid;
            border-radius: 10px;
            background-color: white;
            font-weight: 600;
            transition: .2s;
            color: $primary-color;

            &:hover {
                background-color: $secondary-color;
                border: 1px solid $secondary-color;
                color: #FFF;
            }
        }
    }

    h1.id-title {
        @extend .postex;
        margin: 20px auto;
        font-size: 3em;
        font-weight: 600;
        position: relative;
        display: flex;
        align-content: center;
        left: -500px;
        bottom: -110px;

        &::after {
            content: "X";
            display: block;
            z-index: 0;
            font-size: 60rem;
            position: relative;
            top: -120px;
            left: 710px;
            color: $secondary-color;
        }
    }

    .id-title,
    .id-title::after {
        user-select: none;
    }

    .id-title-x {
        @extend .blue-x;
    }
}

.post {
    display: flex;
    flex-direction: column;
    border: 2px solid $tertiary-color;
    border-bottom: 1px solid $tertiary-color;
    width: 820px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 1.4rem;
    color: #FFF;
    height: fit-content;

    .post-username {
        font-weight: 800;
        cursor: pointer;

        i {
            color: $secondary-color;
        }
    }

    .post-content {
        display: inline-block;
        padding: 20px 0;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
        word-wrap: break-word;
    }

    .post-info {
        display: flex;
        justify-content: space-between;

        span.data-content {
            padding: 0;
        }

        span {
            padding: 0 12px;

            i.likeBtn {
                &:hover {
                    color: #F91880;
                }
            }

            i.answerBtn {
                &:hover {
                    color: $secondary-color;
                }
            }

            i.deleteBtn {
                &:hover {
                    color: rgb(240, 183, 29);
                }
            }

            i.answerBtn,
            i.deleteBtn,
            i.likeBtn {
                cursor: pointer;
            }

            i.answerBtn:hover,
            i.deleteBtn:hover,
            i.likeBtn:hover {
                box-shadow: 0px 0px 15px 8px $tertiary-color;
                background-color: hsl(220, 6%, 20%, 0.7);
            }
        }

        &>:nth-child(1) {
            color: #6A7575;
        }
    }
}

.container-mensagem {
    color: #9d1655;
    background-color: #e88fb8;
    border: 1px solid #9d1655;
    border-radius: 5px;
    padding: 10px;
    max-width: 820px;
    width: 820px;
    text-align: center;
    margin: 10px auto;
    margin-top: -10px;
    display: block;
}